In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/top-100-popular-movies-from-2003-to-2022-imdb/movies.csv

In [2]:
mov = pd.read_csv("/kaggle/input/top-100-popular-movies-from-2003-to-2022-imdb/movies.csv")

In [3]:
mov

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"
2,Bullet Train,7.3,2022,August,R,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,"$85,900,000","$239,268,602","Japan, United States"
3,The Banshees of Inisherin,7.8,2022,November,R,114,Martin McDonagh,"Colin Farrell, Brendan Gleeson, Kerry Condon, ...","Comedy, Drama",Ireland,Unknown,"$19,720,823","Ireland, United Kingdom, United States"
4,M3gan,6.4,2022,December,PG-13,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,"$12,000,000","$171,253,910",United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,A Tale of Two Sisters,7.1,2003,June,R,114,Jee woon Kim,"Lim Soo jung, Yum Jung ah, Kim Kap su, Moon Ge...","Drama, Horror, Mystery",South Korea,Unknown,"$1,062,878",South Korea
1996,Lara Croft Tomb Raider: The Cradle of Life,5.5,2003,July,PG-13,117,Jan de Bont,"Angelina Jolie, Gerard Butler, Chris Barrie, C...","Action, Adventure, Fantasy",Greece,"$95,000,000","$160,099,222","United States, Germany, Japan, United Kingdom,..."
1997,Gothika,5.8,2003,November,R,98,Mathieu Kassovitz,"Halle Berry, Pen lope Cruz, Robert Downey Jr ,...","Horror, Mystery, Thriller",Canada,"$40,000,000","$141,591,324","United States, France, Canada, Spain"
1998,Ong-Bak: The Thai Warrior,7.1,2003,February,R,105,Prachya Pinkaew,"Tony Jaa, Phetthai Vongkumlao, Pumwaree Yodkam...","Action, Crime, Thriller",Thailand,Unknown,"$20,235,426","Thailand, France, Hong Kong"
1999,Open Water,5.8,2003,August,R,79,Chris Kentis,"Blanchard Ryan, Daniel Travis, Saul Stein, Mic...","Adventure, Drama, Horror",Bahamas,"$500,000","$54,683,487",United States

In [4]:
mov.isnull().sum()

Title                 0
Rating                1
Year                  0
Month                 0
Certificate          34
Runtime               0
Directors             0
Stars                 0
Genre                 0
Filming_location      0
Budget                0
Income                0
Country_of_origin     0
dtype: int64

In [5]:
mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2000 non-null   object
 1   Rating             1999 non-null   float64
 2   Year               2000 non-null   int64
 3   Month              2000 non-null   object
 4   Certificate        1966 non-null   object
 5   Runtime            2000 non-null   object
 6   Directors          2000 non-null   object
 7   Stars              2000 non-null   object
 8   Genre              2000 non-null   object
 9   Filming_location   2000 non-null   object
 10  Budget             2000 non-null   object
 11  Income             2000 non-null   object
 12  Country_of_origin  2000 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 203.2+ KB

In [6]:
mov['Certificate'] = mov['Certificate'].fillna(mov['Certificate'].mode()[0])

In [7]:
mov.isnull().sum()

Title                0
Rating               1
Year                 0
Month                0
Certificate          0
Runtime              0
Directors            0
Stars                0
Genre                0
Filming_location     0
Budget               0
Income               0
Country_of_origin    0
dtype: int64

In [8]:
mov['Rating'].unique()

array([7.8, 7.6, 7.3, 6.4, 6.1, 6.9, 7.5, 6.6, 7. , 6.5, 6.7, 6.8, 5.8,
       8.1, 6.2, 5.1, 8.4, 7.1, 7.2, 5.2, 7.7, 7.4, 8.5, 6.3, 8. , 4.4,
       5.7, 5. , 4.2, 7.9, 4.7, 8.6, nan, 5.5, 5.4, 8.3, 3.6, 6. , 4.5,
       5.9, 3.3, 8.2, 5.3, 4.9, 5.6, 4.8, 2.8, 3.5, 4. , 4.6, 3.4, 4.1,
       4.3, 2.1, 3.8, 8.8, 3.2, 2.6, 9. , 1.9, 2.4, 3.7, 2.2])

In [9]:
mov['Rating'] = mov['Rating'].fillna(6.6)

In [10]:
mov.isnull().sum()

Title                0
Rating               0
Year                 0
Month                0
Certificate          0
Runtime              0
Directors            0
Stars                0
Genre                0
Filming_location     0
Budget               0
Income               0
Country_of_origin    0
dtype: int64

In [11]:
mov.head()

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"
2,Bullet Train,7.3,2022,August,R,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,"$85,900,000","$239,268,602","Japan, United States"
3,The Banshees of Inisherin,7.8,2022,November,R,114,Martin McDonagh,"Colin Farrell, Brendan Gleeson, Kerry Condon, ...","Comedy, Drama",Ireland,Unknown,"$19,720,823","Ireland, United Kingdom, United States"
4,M3gan,6.4,2022,December,PG-13,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,"$12,000,000","$171,253,910",United States

In [12]:
mov[mov['Filming_location'] == 'India']

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
84,Drishyam 2,8.6,2022,November,R,140,Abhishek Pathak,"Ajay Devgn, Tabu, Akshaye Khanna, Shriya Saran","Crime, Drama, Mystery",India,Unknown,"$2,776,721",India
668,Lion,8.0,2016,January,PG-13,118,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...","Biography, Drama",India,"$12,000,000","$140,853,810","Australia, United Kingdom, United States, India"
748,Drishyam,8.2,2015,July,Not Rated,163,Nishikant Kamat,"Ajay Devgn, Shriya Saran, Tabu, Rajat Kapoor","Crime, Drama, Mystery",India,"$9,400,000",Unknown,India
1005,The Dark Knight Rises,8.4,2012,July,PG-13,164,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway, Gary...","Action, Drama",India,"$250,000,000","$1,081,169,825","United States, United Kingdom"
1011,Zero Dark Thirty,7.4,2012,January,R,157,Kathryn Bigelow,"Jessica Chastain, Joel Edgerton, Chris Pratt, ...","Drama, History, Thriller",India,"$40,000,000","$132,820,716",United States
1142,The Best Exotic Marigold Hotel,7.2,2011,May,PG-13,124,John Madden,"Judi Dench, Bill Nighy, Maggie Smith, Tom Wilk...","Comedy, Drama, Romance",India,"$10,000,000","$150,501,815",United Kingdom
1316,3 Idiots,8.4,2009,December,PG-13,170,Rajkumar Hirani,"Aamir Khan, Madhavan, Mona Singh, Sharman Joshi","Comedy, Drama",India,"₹550,000,000","$60,262,836",India
1411,The Curious Case of Benjamin Button,7.8,2008,December,PG-13,166,David Fincher,"Brad Pitt, Cate Blanchett, Tilda Swinton, Juli...","Drama, Fantasy, Romance",India,"$150,000,000","$335,802,786",United States
1435,Slumdog Millionaire,8.0,2008,December,R,120,"Danny Boyle, Loveleen Tandan","Dev Patel, Freida Pinto, Saurabh Shukla, Anil ...","Crime, Drama, Romance",India,"$15,000,000","$378,410,542","United Kingdom, United States"
1561,The Darjeeling Limited,7.2,2007,October,R,91,Wes Anderson,"Owen Wilson, Adrien Brody, Jason Schwartzman, ...","Adventure, Comedy, Drama",India,"$16,000,000","$35,310,019","United States, India"
1586,Like Stars on Earth,8.4,2007,December,PG,165,"Aamir Khan, Amole Gupte","Darsheel Safary, Aamir Khan, Tisca Chopra, Vip...","Drama, Family",India,Unknown,"$21,897,373",India
1591,The Bucket List,7.4,2007,January,PG-13,97,Rob Reiner,"Jack Nicholson, Morgan Freeman, Sean Hayes, Be...","Adventure, Comedy, Drama",India,"$45,000,000","$175,372,502",United States
1852,The Bourne Supremacy,7.7,2004,July,PG-13,108,Paul Greengrass,"Matt Damon, Franka Potente, Joan Allen, Brian Cox","Action, Mystery, Thriller",India,"$75,000,000","$290,835,269","United States, Germany, Russia, India"